.formulario {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.formulario select,
option {
    width: 100%;
    margin-bottom: 10px;
}

textarea{
    width: 200px !important;
    height: 200px;
}

input,
textarea,
select {
    margin: 0;
    min-width: 100%;
    padding: 5px;
    outline: 0;
    border: 1px solid rgb(81, 0, 128);
    border-radius: 5px;
}

.formulario button {
    background-color: green !important;
    border: 0;
    padding: 20px;
    border-radius: 20px;
    font-size: 26px;
    color: white;
    font-weight: bold;
    transition: 0.20s;
}

.formulario button:hover {
    cursor: pointer;
    background-color: rgb(2, 143, 2) !important;
    transform: translateY(-5px);
}