.divPrincipal {
    background-color: rgb(253, 203, 253);
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px;
}

.divPrincipal p{
    margin: 5px;
}

.divPrincipal button{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border: 0;
    background-color: red;
    color: white;
    border-radius: 5px;
}

.divPrincipal button:hover{
    cursor: pointer;
    background-color: rgb(236, 18, 18);
}
